

<div class="container mt-5">
  <h1 class="bg-info">Auth</h1>
 <div class="row">
  <div class="col-md-6">
    <app-auth>
      <h2>Sign Up</h2>
      <button class="btn btn-sm  btn-outline-info">Sign Up</button>
    </app-auth>
  </div>
  <div class="col-md-6">
    <app-auth>
      <h2>Login</h2>
      <button class="btn btn-sm btn-outline-primary">Login</button>
    </app-auth>
  </div>
  <hr>
 <div class="col-md-4 mb-4" *ngFor=" let post of postsArr">
       <app-post-card>
        <h2>{{post.title}}</h2>
        <p>{{post.body}}</p>
       
         <div class="card-action d-flex justify-content-between">
        <button class ="btn btn-sm btn-outline-info"(click)="onEdit(post.id)">Edit</button>
        <button class ="btn btn-sm btn-outline-danger">Remove</button>
        </div>
       </app-post-card>
    </div>

    <hr>
    
   <div class="row">
      <div class="col-md-6">
        <div class="card">
          <h2>Title</h2>
        </div>
         
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
             Natus, ipsum ducimus velit rem totam impedit,
              quidem consequatur, vel libero laudantium molestiae? Modi 
              officiis eligendi sed dicta placeat quia recusandae optio.
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button 
           class="btn btn-sm btn-outline-primary"> Edit</button>
           <button 
           (click)="onPostRemove()"
           class="btn btn-sm btn-outline-danger"> Remove</button>
        </div>
      </div>


<app-get-confirm [show]="showModal"
(emitShowFlag)="getShowFlag($event)"
(RemoveApiFlag)="getConfirmation($event)"
 >
  <h2 class="m-0">Are you sure,you want to remove this post? </h2>
  <p class="m-0">
    you can not revert back</p>
</app-get-confirm>
<hr>

  </div>
  </div>
</div>